<div id="divVehicleMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" title="">
    <form id="frmVehicleMessage" class="form-horizontal">
        <div class="tabbable tabs-top">
            <!-- <ul id="vehicleTab" class="nav nav-tabs">
                <li class="active">
                    <a href="#basePanel" data-toggle="tab" value="1" data-i18n="vehicle.base_info">
                        <%= t('vehicle.base_info') %>
                    </a>
                </li>
            </ul> -->
           
            <div class="tab-content">
                <div class="tab-pane active row-fluid" id="basePanel">
                    <!-- <div class="span6"> -->
                        <div class="" style="margin-top:20px">
                            <!-- <label class="control-label" for="remark" data-i18n="vehicle.remark">
                                <%= t('vehicle.remark') %>
                            </label> -->

                            <div class="">
                                <textarea rows="5" cols="20" style="width:97%" class="input-medium" id="textMessage" name="remark"></textarea>
                            </div>
                        </div>

                        <!-- <div class="control-group">
                            <label class="control-label" for="remark" data-i18n="vehicle.remark">
                                <%= t('vehicle.remark') %>
                            </label>

                            <div class="controls">
                                <textarea rows="3" cols="20" class="input-medium" id="remark" name="remark"></textarea>
                            </div>
                        </div> -->
                    <!-- </div> -->
                </div>
               
                
            </div>
        </div>
    </form>
</div>